
body{
    background-color: #f3f3db;
    font-family: Arial;
}
h1{
    background-color: #a8a8a8;
    text-align: center;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #00fdfd;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2{
    text-transform: uppercase;
    color: #00fdfd;
    padding: 1.25rem;
}
h3{
    background-color: #e79579;
    width: 50%;
    margin-left: 20rem;
    margin-top: 1rem;
}

p{
    background-color: #b12222;
    color: white;
    padding: .6rem;
    margin: 0.6rem;
    border: 2px dotted white;
}

.customClass{
    color: #acfd2c;
}

#customID{
    color: #54b1a9;
}

hr{
    border: 1px dotted #007f00;
}